<div class="subscribe-wrapper">
  <div class="subscribe-text">
    <h2>1° Fórum Estadual de Energia do Rio Grande do Norte - FEERN</h2>
    <small>Apresentar o panorama atual do setor energético do Estado do Rio Grande do Norte e discutir as atividades em curso, os desafios, investimentos e resultados bem como as diretrizes federais, estaduais e municipais aplicáveis aos segmentos de petróleo e gás, energia eólica e solar, biomassa e biocombustíveis.  </small>
  </div>
  <a class="subscribe-button" href="/inscreva-se">Inscreva-se</a>
</div>


<h3 id="programacao-dia-1">DIA 05 DE NOVEMBRO DE 2012 (SEGUNDA-FEIRA)</h3>

<table>
  <tbody>
    <tr>
      <td>14h00 – 15h45</td>
      <td>Plenária Solene de Abertura – O RN como provedor energético regional.</td>
    </tr>
    <tr>
      <td>15h45 – 17h00</td>
      <td>Painel: Biocombustíveis no Nordeste e no RN.</td>
    </tr>
    <tr>
      <td>17h00 – 18h00</td>
      <td>Palestra: O mercado de gás natural no RN e a atuação da Potigás.</td>
    </tr>
  </tbody>
</table>

<div class="box-bottom">
  <div>
    <h3>Iniciativa</h3>
    <div class="logo-apoio-iniciativa"></div>
    <div class="logo-apoio-iniciativa"></div>
    <div class="logo-apoio-iniciativa"></div>
  </div>

  <div>
    <h3>Apoio</h3>
    <div class="logo-apoio-iniciativa"></div>
    <div class="logo-apoio-iniciativa"></div>
    <div class="logo-apoio-iniciativa"></div>
  </div>
</div>

<div class="box-bottom">
  <div>
    <h3>Eventos Recentes</h3>
    <iframe width="420" height="315" src="http://www.youtube.com/embed/eZoKYQu0thI" frameborder="0" allowfullscreen></iframe>
  </div>
  <div>
    <h3>Notícias Recentes</h3>
    <a href="#">Grupo Neoenergia dobra investimentos no Brasil e RN</a><br />
    <a href="#">Justiça revoga suspensão para parque eólico em Galinhos</a><br />
    <a href="#">Classes C e D puxam alta no consumo de energia do RN</a><br />
    <a href="#">Convênios vão estimular pesquisa em eólica</a><br />
    <a href="#">Justiça revoga suspensão para parque eólico em Galinhos</a><br />
    <a href="#">Classes C e D puxam alta no consumo de energia do RN</a><br />
    <a href="#">Convênios vão estimular pesquisa em eólica</a><br />
    <a href="#">Justiça revoga suspensão para parque eólico em Galinhos</a><br />
    <a href="#">Classes C e D puxam alta no consumo de energia do RN</a><br />
    <a href="#">Convênios vão estimular pesquisa em eólica</a><br />
    <a href="#">Justiça revoga suspensão para parque eólico em Galinhos</a><br />
    <a href="#">Classes C e D puxam alta no consumo de energia do RN</a><br />
    <a href="#">Convênios vão estimular pesquisa em eólica</a><br />
  </div>
</div>