<div class="subscribe-wrapper">
  <div class="subscribe-text">
    <h2>1° Fórum Estadual de Energia do Rio Grande do Norte - FEERN</h2>
    <small>
      Debates sobre o panorama atual do mercado energético no Rio Grande do Norte. Petróleo, gás natural, biocombustíveis, energias eólica e solar. Palestras com pesquisadores conceituados, empresários e representantes de instituições envolvidas. Excelente oportunidade para empresários, pesquisadores, profissionais técnicos e gerenciais e todos os  interessados no setor da energia.
    </small>
  </div>
  <div class="subscribe-links">
    <div class="subscribe-buttton-programacao" >
      <a href="/ProgCompletaFEERN.pdf">
        <%= image_tag 'pdf_icon.png' %><br />
        Programação Completa
      </a>
    </div>
  </div>
</div>


<div class="certificate-text">
  Os certificados serão entregues em até 30 dias no endereço informado no ato da inscrição.
</div>

<h1>
  Programação Resumida
</h1>

<p class="event-place"><strong>Local:</strong> Auditório Deputado Robinson Faria ("Plenarinho") - Assembleia Legislativa do RN</p>

<h3 id="programacao-dia-1">DIA 05 DE NOVEMBRO DE 2012 (SEGUNDA-FEIRA)</h3>

<table>
  <tbody>
    <tr>
      <td>14h00 – 15h45</td>
      <td>Plenária Solene de Abertura – O RN como provedor energético regional.</td>
    </tr>
    <tr>
      <td>15h45 – 17h00</td>
      <td>Painel: Biocombustíveis no Nordeste e no RN.</td>
    </tr>
    <tr>
      <td>17h00 – 18h00</td>
      <td>Palestra: O mercado de gás natural no RN e a atuação da Potigás.</td>
    </tr>
  </tbody>
</table>

<h3 id="programacao-dia-2">DIA 06 DE NOVEMBRO DE 2012 (TERÇA-FEIRA)</h3>

<table>
  <tbody>
    <tr>
      <td>08h30 – 09h30</td>
      <td>Palestra: A Refinaria Potiguar Clara Camarão e sua importância regional e nacional</td>
    </tr>
    <tr>
      <td>09h30 – 09h50</td>
      <td>Palestra: A nova base de distribuição de combustíveis de Guamaré e os investimentos da ALE no RN.</td>
    </tr>
    <tr>
      <td>09h50 – 11h00</td>
      <td>Painel: Panorama atual da exploração e produção de petróleo e gás no RN</td>
    </tr>
    <tr>
      <td>11h00 – 11h30</td>
      <td>Palestra: Energia a partir de Biomassa no RN e no Nordeste</td>
    </tr>
    <tr>
      <td>11h30 – 12h30</td>
      <td>Palestra Especial: Revolução Energética e o Potencial de Energias Renováveis no Brasil</td>
    </tr>
    <tr>
      <td>14h00 – 15h50</td>
      <td>Painel: Energia Eólica - situação atual e desafios da implantação dos parques no RN</td>
    </tr>
    <tr>
      <td>15h50 – 17h00</td>
      <td>Painel: Infraestrutura de transmissão e distribuição de energia no RN</td>
    </tr>
    <tr>
      <td>17h00 – 18h10</td>
      <td>Painel: Energia Solar: a próxima fronteira da geração energética no RN</td>
    </tr>
    <tr>
      <td>18h10</td>
      <td>Encerramento</td>
    </tr>
  </tbody>
</table>

<div class="banner-fne">
  <a href="http://www.forumnacionaleolico.com.br" target="_blank"><%= image_tag 'banner_FNE.jpg' %></a>
</div>

<h3>Patrocinadores</h3>

<div class="patrocinadores">
<img id="Image-Maps_9201210302240104" src="http://www.image-maps.com/uploaded_files/9201210302240104_banner_patrocinadores.png" usemap="#Image-Maps_9201210302240104" border="0" width="572" height="182" alt="" />
<map id="_Image-Maps_9201210302240104" name="Image-Maps_9201210302240104">
<area shape="rect" coords="10,8,230,171" href="http://www.cpflrenovaveis.com.br/" target="_blank" alt="" title=""    />
<area shape="rect" coords="294,14,514,75" href="http://www.ale.com.br/" target="_blank" alt="" title=""    />
<area shape="rect" coords="249,100,404,161" href="http://www.bioconsultants.com.br/" target="_blank" alt="" title=""    />
<area shape="rect" coords="412,97,567,158" href="http://www.msrenovaveis.com.br" target="_blank" alt="" title=""    />
</map>

</div>
            
<h3>Parceiros de Mídia</h3>

<div class="apoio-midia">
   <a href="http://www.riograndedonorte.net" target="_blank"><%= image_tag 'logo_rgnet.png' %></a>
</div>
