<div class="subscription-create">
  <h2>Inscrição realizada!</h2>

  <p><%= @subscription.nome %>, seu pedido de inscrição foi enviado, aguarde confirmação por e-mail.</p>

  <%= link_to 'Voltar', root_path %>
</div>