ul {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  padding-left: 12px;
  list-style: none;
}

.subscribe-wrapper {
  @include outer-container;
  @include pad;

  background-color: #3a3a3a;

  .subscribe-text {
    @include span-columns(9);
    color: white;

    h2 {
      font-size: 20px;
      margin-bottom: -3px;
    }
  }

  .subscribe-button {
    @include span-columns(3);
    @include button(simple, #015eab);
    @include pad;
    font-size: 20px;
    text-align: center;
  }
}