ul {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  padding-left: 12px;
  list-style: none;
}

.event-place { text-align: center; }

.banner-fne { 
  margin-top: 20px; 
  text-align: center;

  img { width: 100%; } 
}

.certificate-text {
  @include pad;

  font-size: 13px;
  text-align: center;
  color: white;
  background-color: #015eab;
  margin-bottom: 20px;
}

.subscribe-wrapper {
  @include outer-container;
  @include pad;

  margin-bottom: 20px;
  background-color: #3a3a3a;

  .subscribe-text {
    @include span-columns(9);
    color: white;
    text-align: justify;

    h2 {
      font-size: 14px;
      margin-top: 0px;
    }
  }

  .subscribe-links {
    @include span-columns(3);

    .subscribe-button {
      @include button(simple, #015eab);
      @include pad(10px);
      font-size: 14px;
      width: 100%;
      text-align: center;
    }

    .subscribe-buttton-programacao {
      font-size: 12px;
      text-align: center;
      margin-bottom: 10px;

      a {
        color: white;
        &:hover { color: #f29400; }
      }
    }
  }
}