body {
  background-image: image-url('grey.png');
  font-family: $helvetica;
  line-height: 130%;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #015eab;
  &:hover {
    color: #0090d7;
  }

  img { border: none; }
}

.container {
  footer {
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

header.site-header {
  text-align: center;
  margin-bottom: 5px;
  @include span-columns(12, inline-block);
  img { @include box-shadow(0 0 5px hsla(0, 0%, 0%, 0.25)); }
}

.content {
  @include box-shadow(0 0 5px hsla(0, 0%, 0%, 0.25));
  @include pad;
  @include outer-container;
  background-color: white;

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;

    tbody {
      tr:nth-child(even) {
        background-color: #f4f4f4;
      }

      tr {
        td {
          border: 1px solid #e2e2e2;
          text-align: center;
          @include pad;
        }
        td:first-child {
          width: 130px;
        }
      }
    }
  }
  
  h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
  }

  .main-content {
    @include span-columns(8);
    text-align: justify;

    h3 {
      @include pad(8px);
      background-color: #e2e2e2;
      font-size: 14px;
      border-bottom: 1px solid #e2e2e2;
    }
  }

  .patrocinadores {
    text-align: center;

    img {
      width: 200px;
      margin-right: 50px;
    }

    .logo-ale {
      width: 300px;
      margin-bottom: 10px;
    }
  }

  .apoio-midia {
    img { width: 135px; }
    text-align: center;
  }

  .sidebar {
    @include span-columns(4);

    .box {
      h3 {
        @include pad(8px);
        background-color: #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        margin-top: 0px;
        font-size: 14px;
      }

      img {
        width: 125px;
        margin-bottom: 12px;
      }
    }

    .iniciativa-apoio {
      img {
        text-align: center;
        margin-left: 12px;
      }

      .box-wrapper {
        text-align: center;
      }

      .logo-assembleia { width: 250px; }
      .logo-abeeolica { width: 220px; }
    }

    .news {
      text-align: justify;
      margin-top: 12px;
      font-size: 12px;

      a {
        display: block;
        padding-bottom: 6px;
        border-bottom: 1px dashed #e2e2e2;
        margin-bottom: 6px;
      }
    }
  }
}
